.rowleafletmap-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.trashgarboleaflet {
    width: 100%;
    height: 100%;
    margin:auto;
}

.leaflet-marker-icontemp {
    filter: hue-rotate(120deg)
}